/*dashboard-top_item*/
.dashboard-top_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-header {
    display: flex;
    align-items: center;

}

.dashboard-image {
    max-width: 70px; /* Small size for the image */
    width: 100%;
    height: auto;
}

.dashboard-title {
    font-size: 20px;
    font-weight: normal;
}
.dashboard-details-main{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

/*.dashboard-details {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    padding-left: 80px;*/
/*    padding-bottom: 10px;*/
/*    padding-top: 10px;*/
/*    color: gray;*/

/*}*/

.dashboard-heading {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.dashboard-side-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
/*dashboard-top_item*/



/*topItems*/
.dashboard-card_main {
    display: flex;
    justify-content: space-between;  /* Space between items */
    gap: 2rem;
    flex-direction: row;  /* Align items horizontally */
    flex-wrap: wrap; /* Allow wrapping if screen space is tight */
    margin-left: -20px;
    margin-right: 20px;
}

.ua_top_item ul {
    display: flex;
    justify-content: flex-start;  /* Distribute items evenly */
    list-style-type: none;
    padding-left: 195px;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-wrap: wrap;  /* Allow wrapping for small screens */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Bottom shadow */
background-color: #ffffff;
}

.ua_top_item li {
    display: flex;
    align-items: center;
    gap: 8px;  /* Spacing between icon and label */
    font-size: 16px;
    font-weight: 400;
    margin-left: 2px;
    padding-left: 34px;
}

.ua_top_item li i {
    font-size: 12px; /* Size of the icon */
}

.ua_top_item li span {
    font-size: 16px;
    color: #333; /* Text color */
}

/* Optional: Add hover effect */
.ua_top_item li:hover {
    cursor: pointer;
}


/*topItems*/

/*dashboard-container*/
.dashboard-container{
margin-left: 65px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-family: 'monospace';
    background: -webkit-linear-gradient(#0d82fe, #ecf1f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*dashboard-container*/

/*card-OverAllPerformanceCard*/
.card-container {
    display: flex;
    flex-direction: column;
    /*width: 500px;*/
    padding: 2px;
    /*margin-left: 45px;*/
    /*margin-top: 40px;*/
    border-radius: 20px;
}

.dashboard-overall-performance-card,
.dashboard-gain-loss-highchart,
.dashboard-overall-trade-statistics-card {
    /*background-color: #ffffff;*/
    /*padding: 20px;*/
    /*border-radius: 8px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.dashboard-overall-performance-card {
    /*width: 100%;  !* Ensure it takes up 30% of the available width *!*/
    /*height: 440px;*/
}
.card-container-gain-loss-highchart{
    width: 500px;
    margin-top: 40px;
        margin-left: -295px;
}
.dashboard-overall-trade-statistics-card{
    /*margin-left: -40px;*/
}

.dashboard-gain-loss-highchart{
    width: 800px;
    height: 440px;
}


.amounts {
    /*margin-top: 20px;*/
    display: flex;
    flex-direction: column; /* Stack the rows vertically */
}

.amounts-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Adds space between rows */
    margin-left: 14px;
}
.total_gain_row{
    color: limegreen;
}
.total_loss_row{
    color: red;
}





/*OverAllPerformanceCard*/

/*dashboard-pnl-graph*/
.dashboard-pnl-graph{
     display: flex;
     flex-direction: column;
     padding: 20px;
     width: 1695px;
     background-color: #fff;
     box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     position: relative;
     margin-top:30px;
     margin-left:65px;

 }
.dashboard-pnl-graph h1 {
    font-size: 16px;
    color: #475076;
    margin-bottom: 15px; /* Add some spacing between heading and image */
}

.pnl_image {
    width: 600px;
    display: block; /* Ensure the image takes its own line */
}
/*dashboard-pnl-graph*/

/*dashboard-account-summary*/
.dashboard-account-summary{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 1695px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    margin-top:30px;
    margin-left:65px;
    margin-bottom: 80px;

}
.dashboard-account-summary h1{
    font-size: 16px;
    color:#475076;
}
/*dashboard-account-summary*/

/*dashboard-overall-trade-statistics*/
.
.pie-chart {
    width: 100%;
    max-width: 300px;
    box-sizing: content-box;
    height: 100%;
    min-height: 250px;
    max-height: 250px;
    margin-top: -5px;
}
.pie-chart>.highcharts-container>svg>.highcharts-data-labels>.highcharts-data-label-connector{
/*display: none;*/
}
.pie-chart>.highcharts-container>svg>.highcharts-credits{
    display: none;
}
.highcharts-container>.highcharts-root>.highcharts-credits{
    display: none;
}
.dashboard-card>div>.highcharts-container>.highcharts-root>.highcharts-credits{

    display: none;
}
.custom-width{
    width: 100%;
    max-width: 100px;
    margin: auto;
    text-align: center;

}
.pie-chart .highcharts-root {
    background-color: #0000ff;  /* Change this to your desired background color */
}
.box-12 {
    /*background-color: #F8F9FA;*/
     padding: 10px;
    /* border: 1px solid #ddd; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
}
/*dashboard-overall-trade-statistics*/
/*trade-statistics*/
table,th,td,tr{
    border:none;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-family: "Epilogue", sans-serif;
    font-size: 15px;

}
.tr{
    margin-top: 2px !important;
}

.linear-gradient-headings {
    font-size: 20px;
    font-weight: 500;
    background: -webkit-linear-gradient(to right,#28a745, #dc3545);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    background: linear-gradient(to right, #f9939d, #28a745);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

/*trade-statistics*/

/*.portfolio-card-container*/
.portfolio-card-container{
    border-radius: 20px;
    /*padding: 20px;*/
}
.portfolio-table{
}
.top-10{
    top: 10px;
}
.bank-icon>img{
    width: 24px;

    height: 24px;
}

.profit_Rate>div>div>.highcharts-root>.highcharts-data-labels   {
    transform: translate(-13%, -26%);

}

.table-row-padding>td {
    padding: 10px 0px !important;
}
/*.portfolio-card-container*/