@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://code.highcharts.com/css/stock-tools/gui.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0px;
}
.vertical-line {
    width: 1px;               /* Define the thickness of the vertical line */
    background-color: gainsboro;  /* Color of the vertical line */
    height: 50px;            /* Adjust height based on the layout */
    margin: 10px 10px;           /* Spacing above and below the line */
}
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
}

input, textarea, select {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.heading-24 {
    font-size: 24px !important;
}

.heading-16 {
    font-size: 16px;
}

.heading_14 {
    font-size: 14px;
}

.heading-20 {
    font-size: 20px;
}

.heading-48 {
    font-size: 48px;
}

.heading-40 {
    font-size: 40px;
}

.heading-18 {
    font-size: 18px;
}

.heading-58 {
    font-size: 58px;
}


.font_weight_500 {
    font-weight: 500;
}

.font_weight_400 {
    font-weight: 400;
}

.font_weight_200 {
    font-weight: 200;
}

.font_weight_300 {
    font-weight: 300;
}

.font-bold {
    font-weight: bold;
}

.font_weight_700 {
    font-weight: 700;
}

.font_weight_900 {
    font-weight: 900;
}

a {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: transparent;
}

.text_gray {
    color: #90A2B2 !important;
}

.text_light_gray {
    color: #5C7184;

}

.text_primary_300 {
    color: #2196F3;
}

.logo {
    width: 100%;
    max-width: 46.23px;
    max-height: 45px;
    margin-right: 10px;
}

.header_button {
    width: 100%;
    max-width: 261px;
    height: 48px;
}

.navbar {
    padding-top: 37.5px;
    padding-bottom: 37.5px;

}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.header_left {
    margin-right: 80px;
}

.button_signup {
    margin-right: 16px;
}

.font_Epilogue {
    font-family: "Epilogue", sans-serif;


}

.line_height_32 {
    line-height: 32px;
}

.line_height_72 {
    line-height: 72px;
}

.line_height_64 {
    line-height: 64px;
}

.font_poppins {
    font-family: "Poppins", sans-serif;

}

.nav-link {
    padding: 0px;
    margin: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
}

.header_links > li > .nav-link {
    margin-right: 40px;
}

.btn {
    padding: 0px;

}

.btn_signup_signin > button {
    padding: 12px 32px;
    border-radius: 8px;

}

.bg-primary-300 {
    background-color: #2196F3;
}

.bg-primary-30 {
    background-color: #cfe8fc;
}

.button_get_started {
    width: 100%;
    max-width: 180px;
    height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
}

.Hero-section {
    background-color: #F5F5F5;

}

.hero-section-white {
    background-color: white;
}

.Hero-section-left {
    width: 100%;
    max-width: 600px;
    margin-top: 91px;

}

.Hero-section-left_top {
    margin-bottom: 80px;
}

.Hero-section-right {
    width: 100%;
    max-width: 706px;
}

/*middle section*/
.middle_card_image {

    padding: 18px 25px;
    background-color: #F5F5F5;
    margin-bottom: 40px;
}

.middle_card_image-2 {
    padding: 35px 30px;
    background-color: #F5F5F5;
    margin-bottom: 40px;
}

.middle_card_image-3 {
    padding: 44px 22px;
    background-color: #F5F5F5;
    margin-bottom: 40px;
}

.middle_card {
    width: 100%;
    max-width: 366px;

}

.middle_card_para {

    width: 100%;
    max-width: 335px;
    margin-top: 12px;

}

.middle_main_card {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 81px;
}

.middle_card_top_text {
    padding-top: 82px;
    padding-bottom: 31px;
}

.middle_card_top_text_content {
    margin-bottom: 12px;
}

/*#footer section*/

.line_height_58 {
    line-height: 58px;
}

.line_height_24 {
    line-height: 24px;
}

.line_height_20 {
    line-height: 20px;
}


.footer_headeing {
    color: #074C83;
    /* max-width: 341px; */
    /*height: 150px;*/
}

.footer_logo {
    width: 100%;
    max-width: 45px;
    max-height: 45px;
    margin-right: 10px;
}

.Footer-section-left {
    /*width: 100%;*/
    /*max-width: 600px;*/
    /*height: 256px;*/
    /*margin-top: 72px;*/
    /*margin-left: 169px;*/
}

.Footer-section-left_top {
    margin-right: 279px;

}

.Footer-section-left-para {
    /* margin-right: 279px; */
    margin-top: 24px;
    width: 100%;
    max-width: 381px;
}

.Footer-section-right {
    /*width: 100%;*/
    /*max-width: 597px;*/
    /*margin-top: 72px;*/
    /*margin-bottom: 14px;*/
    display: flex;


}

.Footer-section {
    padding-bottom: 72px;
    padding-top: 72px;
    background-color: #F0F3F5;
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* padding: 20px; */
    gap: 20px;
}

.footer_right_top {
    width: 100%;
    max-width: 95px;
    height: 24px;
    margin-right: 35px;
    margin-bottom: 12px;
}

.footer_right_bottom {
    width: 100%;
    max-width: 70px;
    height: 20px;
    color: #5C7184;
    margin-bottom: 12px;
}

.footer_right_bottom_contact {
    width: 100%;
    max-width: 165px;
    height: 20px;
    color: #5C7184;
    margin-right: 35px;
    margin-bottom: 12px;
}

.footer_right_bottom_image {
    margin-right: 9px;
}


.Footer-section-inner {
    width: 100%;
    max-width: 1101px;
    margin: auto;
}

/*calculator*/
.calculator_main_table {
    background-color: #cfe8fc;
    padding-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.textarea_ticker {
    height: 100%;
    max-height: 58.18px;
}

.calculator_cal_button {
    padding-left: 15px;
}

.calculator_main_heading {
    padding-left: 15px;
}

.calculator_psition_result_main {
    margin-top: 25px;
    padding-left: 15px;

}

.position_result_table {
    border: 1px solid #dee2e6;
    padding: 12px;
    border-radius: 8px;
}

.swal2-confirm {
    background-color: #2196F3;
}

/*#videoSection*/
.Hero-video-section {
    padding-bottom: 60px;
    padding-top: 60px;
}

.Vedio-section-button {
    margin-top: 24px;
}

/*maindiv*/
.mainDiv {
    background-color: #f5f5f5;
    height: 900px
}

/*maindiv*/


/*CandlestickCharts*/

.rightNavigator {

    width: 100%;
    max-width: 54px;
    margin-left: 5px;
    height: 869px;
    background-color: white;

}
.rightNavigatorLayout{

    overflow: hidden;
    margin-left: 5px;
    margin-right: 1px;
    margin-top: 6px;
    border-radius: 6px;
    margin-bottom: 6px;
    max-width: 80px;
    padding-right: 2px;
}


.drawingTool {
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 54px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    justify-content: flex-start;
}
.drawingToolLayout{
    margin: 1px;
    padding: 0;
    border-radius: 6px;
    position: absolute;
    top: 42px;
    width: 54px;
}

.drawingToolIconWrapper {
    box-sizing: border-box;
    position: relative;
    touch-action: manipulation;
    width: 52px;
}

.drawingToolIcon{
    width: 52px;
    height: 36px;
    background-color: white; /* Make buttons visible */
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 8px; !* Add spacing between buttons *!*/
    cursor: pointer;
    border: none;
}

.drawingToolIcon:hover {
    background-color: #f0f0f0; /* Highlight button on hover */
    border-radius: 6px; /* Optional: Rounded corners on hover */
}

.dateTimeintervalContainer {

    margin-top: 5px;
    padding: 10px;
    text-align: end;
    max-width: 1600px;
    width: 100%;
}

.layout__area--top {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 1px;
    margin-left: 2px;
    border-radius: 8px;
    height: 38px;
    left: 52px;
    width: 1460px;
    position: absolute;
}

.layout__area--center {
    overflow: hidden;
    margin-left: 0px;
    margin-top: 1px;
    border-radius: 6px;
    margin-bottom: 6px;
    padding-left: 1px;
    position: absolute;
    top: 42px;
    left: 56px;
    width: 1456px;
    /*height: 100vh;*/
}

#candleStickContainer {
    border-radius: 5px;
    height: 815px;
}
.highcharts-button-box{
    stroke: none;
    fill: transparent;
}
.highcharts-button-box:hover{
    stroke: #cccccc;

}
.highcharts-button-box > .text {
    fill: #2196F3 !important;
    font-size: 0.25em !important;
}
.intervalButtons{
    background-color: white;
    border: none;


}
.intervalButtons:hover {
    background-color: lightgray; /* Changes background color on hover */
}

.intervalContainer {
    display: flex;
    gap: 10px; /* Ensures space between buttons */
    align-items: center;

}
.timeContainer {
    margin-left: auto;
}
/*CandlestickCharts*/

/*SearchDialogBox*/
.dialogTitle {
    font-weight: 600 !important;
    color: #2196F3 !important;
}

/*.listItemContent{*/
/*    float: right !important;*/
/*}*/

.css-1adno9d-JoyListItemContent-root {
    /* -webkit-flex: 1 1 auto; */
    -ms-flex: 0 !important;
    flex: 0 !important;
    min-width: auto !important;
    position: relative;
}

.css-dzijul-JoyListItemButton-root:not(.Mui-selected, [aria-selected="true"]):hover {
    background-color: #F0F4F8;
    color: #0B0D0E;

}


/*.markedFlagWrap-oRSs8UQo {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 10px;*/
/*    padding: 0px;*/
/*}*/
/* Initially hide the markedFlagWrap */
.markedFlagWrap-oRSs8UQo {
    display: none;
}

/* Show the markedFlagWrap when hovering over ListItemButton */
.css-dzijul-JoyListItemButton-root:hover .markedFlagWrap-oRSs8UQo {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 0px;
    color: #dee2e6;
}

.searchInputTicker {
    border-top: 1px solid #949494 !important;
    /* padding: 10px; */
}

.searchInputTicker > .MuiInputBase-root {
    padding: 7px;
}

.MuiStack-root {
    /* border-radius: 20px; */
    margin-top: 10px;
    margin-left: 14px;
}

.DialogBoxButtons {
    border-radius: 10px;
}

.MuiButtonBase-root {
    border-radius: 20px !important;
}

.MuiButtonBase-root:hover {
    background-color: #2196f3 !important;
    color: white !important;
}

.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*SearchDialogBox*/
/*dropdownInterval*/
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Button style */
.dropdown-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown menu style */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: block;
}

/* Individual menu items */
.dropdown-item {
    padding: 8px 16px;
    background-color: white;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

/* Hover effect for items */
.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Close dropdown when clicked outside */
.dropdown-menu {
    display: none;
}

/* Show dropdown when it's open */
.dropdown.open .dropdown-menu {
    display: block;
}

/*dropdownInterval*/

/*TopSection*/
.button-merBkM5y {
    all: unset;
    align-items: center;
    cursor: default;
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    --tv-toolbar-explicit-hover-border-radius: 4px;
    position: relative;
    transition: background-color .35s ease,color 60ms ease;
    z-index: 0;
}
.button-merBkM5y:before {
    border-radius: var(--tv-toolbar-explicit-hover-border-radius,2px);
    display: block;
    outline: 2px none #2962ff;
    position: absolute;
    z-index: -1;
}

.menu-S_1OCXUK:only-child {
    padding: 0 10px;
}

.menuContent-S_1OCXUK {
    justify-content: center;
}
.wrap-n5bmFxyX {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    height: 100%;
}
.value-gwXludjS {
    font-size: 14px;
    text-align: left;
}

.separatorBar {
    background-color:#e0e3eb;
    height: 22px;
    margin: auto 4px;
    width: 1px;
}
.topLayoutGroup {
    align-items: center;
    background-color:#fff;
    border-radius: 0;
    cursor: default;
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    justify-content: center;
    margin-left: 0;
    min-width: 37px;
    overflow: hidden;
}
.topLayoutGroupSeparator {
    align-items: center;
    background-color: #fff;
    display: flex;
}

.button-GwQQdU8S.isInteractive-GwQQdU8S {
    position: relative;
    z-index: 0;
}
.uppercase-cq__ntSC {
    text-transform: uppercase;
}
.button-cq__ntSC {
    padding: 5px 10px;
    width: 100px;
}
.button-GwQQdU8S {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    height: 100%;
    transition: background-color 60ms ease,opacity 60ms ease,color 60ms ease;
    --tv-toolbar-explicit-hover-border-radius: 4px;
    color: #131722;
}
.icon-GwQQdU8S+.text-GwQQdU8S, .text-GwQQdU8S+.icon-GwQQdU8S {
    margin-left: 2px;
}
.text-cq__ntSC {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 14px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 600;
    --ui-lib-typography-line-height: 18px;
    line-height: var(--ui-lib-typography-line-height);
    overflow: hidden;
}
.button-ptpAHg8E.withoutText-ptpAHg8E {
    padding: 0 5px;
}
.button-GwQQdU8S.isInteractive-GwQQdU8S {
    position: relative;
    z-index: 0;
}
.button-GwQQdU8S {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    height: 100%;
    transition: background-color 60ms ease,opacity 60ms ease,color 60ms ease;
    --tv-toolbar-explicit-hover-border-radius: 4px;
    color: #131722;
}
.topLeftButton-hCWTCWBf {
    height: 38px;
    width: 52px;
}
.menu-U2jIw4km {
    position: relative;
}
.buttonWrap-U2jIw4km {
    position: relative;
}
.org-logo {
    border-radius: 50%;
    display: block;
    height: 28px;
    width: 28px;
}
/*TopSection*/

#candleStickContainer {
    width: 100%;
    height: 85vh; /* Adjust as needed */
}

.layout {
    /*overflow: hidden;*/
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 0;
    margin: 0;
}